<%= for {type, color} <- [info: "blue", error: "red"] do %>
  <%= if get_flash(@conn, type) do %>
    <div class="bg-<%= color %>-100 border border-<%= color %>-400 text-<%= color %>-700 px-4 py-3 mx-2 my-2 rounded relative" role="alert">
      <span class="block sm:inline"><%= get_flash(@conn, type) %></span>
    </div>
  <% end %>
<% end %>
