<h2>
  <a href="<%= Routes.blog_path(AndrexWeb.Endpoint, :entry, @post.year, @post.month, @post.day, @post.url_title) %>"><%= @post.pandoc.metadata.title %></a>
</h2>
<h4>📅 <%= @post.pandoc.metadata.date %></h4>
<h4>🏷️&nbsp;
  <%= for tag <- @post.tags do %>
    <a href="<%= Routes.blog_path(AndrexWeb.Endpoint, :tag, tag) %>"><%= tag %></a>&nbsp;
  <% end %>
</h4>
<p><%= @post.pandoc.metadata.description %><a href="<%= Routes.blog_path(AndrexWeb.Endpoint, :entry, @post.year, @post.month, @post.day, @post.url_title) %>"> Read more...</a></p>
